<div class="col-lg-3">
    <div class="product_item">
        <div>
            <a href="{% url 'product' product_image.product.id %}">
                <img src="{{ product_image.image }}" class="img-responsive" width="200px" alt="" height="200px"></a>
        </div>
        {% if product_image.product.discount %}
            <div class="discount-container">
                <span>{{ product_image.product.discount }}%</span>
            </div>
        {% endif %}
        <h4>{{ product_image.product.name|truncatechars_html:40 }}</h4>
        <p>
            {{ product_image.product.description|truncatechars_html:60 }}
        </p>
        <div class="head_product_price">
            {{ product_image.product.price }} UAH
        </div>
        <div class="add-to-card-btn">
            <button class="btn btn-success">
                Купити
            </button>
        </div>
    </div>
</div>